<%= render 'layouts/header' %>

<div class="cover">
</div>

<div class="container">


	<div class="features">
		<div class="container">
			<div class="section-title text-center">
				<h1 class="title" style="font-weight: bold">み〜つけた！の特徴と使い方？</h1><br>
				<h4 class="title">おもちゃ選びで失敗したくない人のための口コミ共有サイト兼お子様の成長を記録できるサイト<br>
				み〜つけた！は「皆様により良いおもちゃ選びをお手伝いする」、こどものおもちゃの口コミサイトです。
				ネットでおもちゃ探しをする際に起こりがちな「想像とは違うおもちゃだった」というような失敗をなくすため（仮文です）
				</h4><br><br>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 feature text-center">
					<span aria-hidden="true" class="glyphicon glyphicon-check" style="font-size: 40px"></span>
					<h3 class="feature-title">リアルな口コミ</h3>
					<p>✔	口コミに実際におもちゃを使ったお子様の特徴が書かれているので、一人ひとりにあったおもちゃ選びができます。（仮分です）</p>
				</div>
				<div class="col-md-4 col-sm-6 feature text-center">
					<span aria-hidden="true" class="glyphicon glyphicon-zoom-in" style="font-size: 40px"></span>
					<h3 class="feature-title">おもいで機能</h3>
					<p>✔	変更したお子様の成長の変化を記録することができます（仮分です）</p>
				</div>
				<div class="col-md-4 col-sm-6 feature text-center">
					<span aria-hidden="true" class="glyphicon glyphicon-thumbs-up" style="font-size: 40px"></span>
					<h3 class="feature-title">ランキング</h3>
					<p>✔	最新の口コミのランキングからトレンドをピックアップできます（仮分です）</p>
				</div>
			</div>
		</div>
	</div>

</div>

<h2>口コミランキング</h2>

<%# @averages.each do |review| %>

<%#= review.body %>

<%# end %>SELECT * FROM meibo WHERE prefecture='東京都' OR age >= 35;



